body {background-color: DarkTurquoise;}
h1{color:red;}

h5{color:red;}

h4{color:green;text-decoration:underline;font:verdana; font-size = 18px}

h2{color:DarkslateGray;}

h3{color:DarkslateGray;}