<!doctype html>
<html>
	<title>Login</title>
	<h1>Update_Password</h1>
	<form action="" method="POST">
	
	{{ form.hidden_tag() }}
	
				{% for error in form.newpassword.errors %}
	         		<div style= color:red >{{ error }}</div>
	      		{% endfor %}
	      		
	
		{{ form.hidden_tag() }}
		<p>
	       {{ form.newpassword.label }}<br>
	       {{ form.newpassword(size=20) }} 
	    </p>
	    <p>{{ form.submit() }}</p>	    
	    
	    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
    			<h3>Do not have an account?<a href="login.html"/>Login In</h3>
    			<h5>Go to <a href="index.html">Log Out</a>
    			</p>
 			
 	</form>
 	
 			
</html>